<div class="container singlejokecommentsdiv">
    <div class="row">
        <p>{{text}}</p>
        <div class="zoom commentfooter">
            <input class="vote-button like" data-type="comments" data-id="{{commentId}}" data-vote="up" type="image" name="submit" src="/assets/images/like.png"
                border="0" alt="Submit" />
        </div>
        <div class="zoom commentfooter">
            <input class="vote-button dislike" data-type="comments" data-id="{{commentId}}" data-vote="down" type="image" name="submit"
                src="/assets/images/dislike.png" border="0" alt="Submit" />
        </div>
        <div class="commentfooter commentfootertext">POSTED BY: {{username}}</div>
        <div class="commentfooter commentfootertext">SCORE: {{score}}</div>
    </div>
</div>
<hr class="horizontalrule">