<div class="joke">
<p class="topjokes">
    {{text}}
    <br>
    Posted By: {{username}}
    <br>
    Score: {{score}}
    <br>
    {{comments}} Comments
</p>
<div class="zoom jokefooter"><input class="vote-button like" data-id="{{jokeId}}" data-vote="up" type="image" name="submit" src="/assets/images/like.png" border="0" alt="Submit" /></div>
<div class="zoom jokefooter"><input class="vote-button dislike" data-id="{{jokeId}}" data-vote="down" type="image" name="submit" src="/assets/images/dislike.png" border="0" alt="Submit" /></div>
<div class="jokefooter"><input id="comment" type="image" name="submit" src="/assets/images/comment.png" border="0" alt="Submit"/></div>
</div>
