<div class="joke">
    <p class="topjokes">
        {{text}}
        <br>
    </p>
    <div class="zoom jokefooter">
        <input class="vote-button like" data-type="jokes" data-id="{{jokeId}}" data-vote="up" type="image" name="submit" src="/assets/images/like.png"
            border="0" alt="Submit" />
    </div>
    <div class="zoom jokefooter">
        <input class="vote-button dislike" data-type="jokes" data-id="{{jokeId}}" data-vote="down" type="image" name="submit"
            src="/assets/images/dislike.png" border="0" alt="Submit" />
    </div>
    <div class="jokefooter jokefootertext">
        <a href="/jokes/{{jokeId}}" id="viewcomments">VIEW COMMENTS</a>
    </div>
    <div class="jokefooter jokefootertext">SCORE: {{score}}</div>
    <div class="jokefooter jokefootertext">COMMENTS: {{comments}}</div>
    <div class="jokefooter jokefootertext">POSTED BY: {{username}}</div>
</div>
<hr id="horizontalrule">