<div class="joke">
<p class="topjokes">
    {{text}}
    <br>
    Posted By: {{username}}
    <br>
    Score: {{score}}
    <br>
    {{comments}} Comments
</p>
<div class="zoom jokefooter"><input class="vote-button like" data-type="jokes" data-id="{{jokeId}}" data-vote="up" type="image" name="submit" src="/assets/images/like.png" border="0" alt="Submit" /></div>
<div class="zoom jokefooter"><input class="vote-button dislike" data-type="jokes" data-id="{{jokeId}}" data-vote="down" type="image" name="submit" src="/assets/images/dislike.png" border="0" alt="Submit" /></div>
<div class="jokefooter"><a border="0" href="/jokes/{{jokeId}}"><img class="comment" src="/assets/images/comment.png"></a></div>
</div>
